# Application
API_PORT=3000
MONGO_URI=mongodb://mongo:27017/cloud_monitoring

# Docker Hub
DOCKERHUB_USERNAME=your-dockerhub-username
IMAGE_TAG=latest

# Grafana
GF_ADMIN_USER=admin
GF_ADMIN_PASSWORD=admin

